p Здравейте,
p Имате нова фактура № #{number}, издадена на #{date}, на стойност #{value} лв без ДДС.
p Може да я намерите като прикачен файл към настоящия имейл.
p Благорадим Ви, че сте наш клиент!


.footer 
p Това е автоматично генерирано съобщение. Моля не отговаряйте на този имейл.